// Colors
// --------------------------------------------------

// Shades
// -------------------------
$black:                     #111;
$gray:                      #aaa;
$gray-lighter:              #ddd;
$white:                     #fff;

// Colors
// -------------------------
$primary-light:             #7FDBFF;
$primary:                   #0074D9;
$primary-dark:              #001F3F;

$secondary-light:           #01FF70;
$secondary:                 #2ECC40;
$secondary-dark:            #3D9970;

$error:                     #FF4136;
$valid:                     #2ECC40;

// Scaffolding
// -------------------------
$body-background:           $white;
$base-text-color:           $black;

// Links
// -------------------------
$linkColor:                 $primary;
$linkColorHover:            darken($linkColor, 15%);
$headlineLinkColor:         $primary;

// Typography
// --------------------------------------------------
$base-font-family:  	      $helvetica;
$heading-font-family:       $helvetica;
$mono-font-family:  	      Monaco, Menlo, Consolas, "Courier New", monospace;

$line-height-ratio:         1.4;
$base-font-size:            16px;
$base-line-height:          24px;
$line-height:               $base-font-size/$base-line-height;
$heading-line-height:       1;

$giga-size:         	      em(96);
$mega-size:         	      em(72);
$kilo-size:         	      em(48);

$h1-size:                   em(36); // .alpha
$h2-size:                   em(30); // .beta
$h3-size:                   em(24); // .gamma
$h4-size:                   em(20); // .delta
$h5-size:                   em(16); // .epsilon
$h6-size:                   em(14); // .zeta

$milli-size:        	      em(12);
$micro-size:        	      em(10);

$headings-font-family:      inherit;
$headings-font-weight:      bold;
$headings-color:            inherit;

// Font Weights
// -------------------------
$font-weight-light: 	      300;
$font-weight-normal:        400;
$font-weight-semibold:      700;
$font-weight-bold: 	        900;


// Component sizing
// --------------------------------------------------
$paddingMini:               0 em(6);
$paddingSmall:              em(2) em(10);
$paddingMedium:             em(5) em(15);
$paddingLarge:              em(10) em(20);

$small-border-radius:       em(3);
$border-radius:             em(4);
$large-border-radius:       em(6);

// Buttons
// --------------------------------------------------
$primary-btn-bg:            $primary;

// Z-index master list
// -------------------------
$zindexDefault:			        900;
$zindexDropdown:            1000;
$zindexPopover:             1010;
$zindexTooltip:             1030;
$zindexFixedNavbar:         1030;
$zindexModalBackdrop:       1040;
$zindexModal:               1050;

// Input placeholder text color
// -------------------------
$placeholderText:           $gray;

// Hr border color
// -------------------------
$hrBorder:                  $gray;

// Navbar
// -------------------------
$navbarCollapseWidth:       979px;
$navbarCollapseDesktopWidth:$navbarCollapseWidth + 1;

$navbarHeight:              em(60);
$navbarBackgroundHighlight: $white;
$navbarBackground:          darken($navbarBackgroundHighlight, 5%);
$navbarBorder:              darken($navbarBackground, 12%);

$navbarText:                $gray;
$navbarLinkColor:           $gray;
$navbarLinkColorHover:      $black;
$navbarLinkColorActive:     $primary;
$navbarLinkBackgroundHover: transparent;
$navbarLinkBackgroundActive:darken($navbarBackground, 5%);

$navbarBrandColor:          $navbarLinkColor;

// Forms
// -------------------------
$inputBackground:           $white;
$inputBorder:               #ccc;
$inputBorderRadius:         $border-radius;
$inputDisabledBackground:   $gray-lighter;
$inputHeight:               $line-height + 10px;

// Tables
// -------------------------
$tableBackground:           transparent; // overall background-color
$tableBackgroundAccent:     $gray-lighter; // for striping
$tableBackgroundHover:      $gray-lighter; // for hover
$tableBorder:               $gray; // table and cell border




